* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
	display: block;
	width: 100%;
}

h1 {
  @include title-itens(22);
  margin: 10px 0px;
}

button, li {
  cursor: pointer;
}

main {
  background: $dark-green;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 15px;
}

.header {
  width: 100%;
}

.nav-menu {
  background: $dark-green;
  padding: 15px 20px;
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
}

.nav-menu ul li {
  list-style: none;
  display: inline-block;
  color: $white;
  @include title (18)
}

.content-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.itens {
  display: flex;
  margin-bottom: 20px;
}

.itens-shop {
  background: $itens;
  border-radius: 5px;
  padding: 10px;
  max-width: 170px;
}

.itens-shop p {
  @include title (18);
  margin-top: 5px;
}

.pages-number {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pages-number button {
  padding: 10px 20px;
  font-size: 16x;
  border: none;
  border-radius: 2px;
  color: $white;
  background: $medium-green;
  @include descriptions(14);
}

.footer {
  background: $black;
  color: $white;
  @include title-itens(18);
  padding: 30px;
}